body{
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conteiner{
    width: 90%;
    max-width: 600px;
    text-align: center;
    background: #1c1c1c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}
.input-group{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
input{
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
button{
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background: darkred;
}
.videoitem{
    background: #222;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.video-item img{
    width: 100%;
    border-radius: 10px;
}